body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #ebe9e3;
  color: #222222;
}
#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
nav {
  font-family: "Playfair Display", serif;
}
button {
  font-family: inherit;
  background-color: #ebe9e3;
  border-radius: 10px;
  border: 1px solid black;
}
button:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}

.background-white-img {
  background: url(../src/images/film//columbus-bw/13.JPG);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  background-color: white;
}
.landing-container {
  width: 75%;
  align-items: center;
  justify-content: center;
}

.landing-list {
  height: 550px;
  align-items: center;
  justify-content: center;
}
/* font transition (main links) */
.font-transition {
  color: #f08080;
  font-size: 36px;
  text-align: start;

  transition: 1s ease;
}
.font-transition:hover {
  /* font-size: 54px;
  transition: font-size 1s ease; */
  transform: scale(1.25);
  text-align: start;
}

@media only screen and (min-width: 1024px) {
  .background-white-img {
    background: url(../src/images/background/white-bg-final.jpeg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
  }
  .landing-container {
    width: 100vh;
    align-items: flex-start;
    justify-content: start;
  }

  .landing-list {
    height: 550px;
    align-items: flex-start;
    justify-content: start;
    margin-top: 16vh;
  }
  .font-transition {
    font-size: 42px;
  }
}

.landing-color {
  color: #f08080;
}

/* fade in animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein-animation {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.card-img-width {
  width: 0%;
}
.card-content-width {
  width: 100%;
}
.card-border {
  border: 1px solid black;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .card-img-width {
    width: 33%;
    padding: 0.25rem 1.5rem 0.25rem 0.25rem;
  }
  .card-content-width {
    width: 66%;
  }
}

/* Photog page */
.desktop-display {
  display: none;
}
.mobile-display {
  display: flex;
}
.photo-width {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .desktop-display {
    display: flex;
  }
  .photo-width {
    width: 25%;
  }
  .mobile-display {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
}

.heading-display {
  font-family: "Playfair", "Playfair Display", serif;
}

.active-btn,
.active-btn:focus {
  background-color: #f08080;
}

.rounded-imgs {
  border-radius: 10px;
}

/* about page */
.content-fit {
  width: fit-content;
}

/* util */
.max-desk {
  max-width: 1440px;
  margin: 0 auto;
}
